---
import { Icon } from "astro-icon/components";

import { TAGS } from "../../data/tags";
import Badge from "./Badge.astro";

export interface Props {
	title: string;
	body: string;
	href: string;
	tags: string[];
}

const { href, title, body, tags } = Astro.props;
---

<li
	title={title}
	class="w-full rounded-lg shadow-xl shadow-custom card bg-neutral-content/5"
>
	<div class="card-body">
		<a
			rel="prefetch"
			href={href}
			class="transition-colors w-fit hover:text-accent/95"
		>
			<h2 class="card-title">
				{title}
				<Icon
					name="ic:baseline-arrow-right-alt"
					height="22"
					width="22"
				/>
			</h2>
		</a>
		<p class="card-actions">
			{body}
		</p>
		<div class="flex flex-wrap gap-2">
			{
				tags.map((tag) => {
					return tag in TAGS ? (
						<Badge tag={TAGS[tag as keyof typeof TAGS]} />
					) : (
						<div class="flex gap-1 badge badge-outline">{tag}</div>
					);
				})
			}
		</div>
	</div>
</li>
