---
import type { RepositoryData } from "../../utils/github-api";

import { Icon } from "astro-icon/components";

import { tags } from "../../data/tags";
import Badge from "./Badge.astro";

export interface Props {
	data: Partial<RepositoryData>;
}

const { data } = Astro.props;
---

<li
	title={data.name}
	class="w-full rounded-lg shadow-xl shadow-custom card bg-neutral-content/5"
>
	<div class="card-body flex gap-4">
		<a
			target="_blank"
			rel="external"
			href={data.html_url}
			class="transition-colors w-fit hover:text-accent/95"
		>
			<h2 class="card-title">
				{data.name}
				<Icon
					name="mdi:arrow-right-thin"
					height="22"
					width="22"
				/>
			</h2>
		</a>
		<p class="card-actions">
			{data.description}
		</p>
		<div class="flex flex-wrap gap-2 mt-1">
			{
				data.topics?.map((tag) => {
					return tag in tags ? (
						<Badge tag={tags[tag as keyof typeof tags]} />
					) : (
						<div class="flex gap-1 badge badge-outline">{tag}</div>
					);
				})
			}
		</div>

		<div class="stats bg-inherit">
			<div class="stat pb-0">
				<div class="stat-figure text-primary mr-4 hidden sm:inline-block">
					<Icon
						name="mdi:star"
						height="34"
						width="34"
					/>
				</div>
				<div class="stat-title">Stargazers</div>
				<div class="stat-value text-primary">{data.stargazers_count}</div>
			</div>

			<div class="stat pb-0">
				<div class="stat-figure text-secondary mr-4 hidden sm:inline-block">
					<Icon
						name="mdi:database"
						height="34"
						width="34"
					/>
				</div>
				<div class="stat-title">Size (in MB)</div>
				<div class="stat-value text-secondary">{data.size || 0}</div>
			</div>

			<div class="stat pb-0">
				<div class="stat-figure text-accent hidden sm:inline-block">
					<Icon
						name="mdi:source-fork"
						height="34"
						width="34"
					/>
				</div>
				<div class="stat-title">Forks</div>
				<div class="stat-value text-accent">{data.forks_count || 0}</div>
			</div>
		</div>
	</div>
</li>
