---
import { Icon } from "astro-icon/components";

import { TAGS } from "../../data/tags";
import Badge from "./Badge.astro";

export interface Props {
	title: string;
	body: string;
	href: string;
	stargazers?: number;
	tags: string[];
}

const { href, title, body, tags, stargazers } = Astro.props;
---

<li
	title={title}
	class="w-full rounded-lg shadow-xl shadow-custom card bg-neutral-content/5"
>
	<div class="card-body">
		<a
			target="_blank"
			rel="external"
			href={href}
			class="transition-colors w-fit hover:text-accent/95"
		>
			<h2 class="card-title">
				{title}
				<Icon
					name="mdi:arrow-right-thin"
					height="22"
					width="22"
				/>
			</h2>
		</a>
		<p class="card-actions">
			{body}
		</p>
		<div class="flex flex-wrap gap-2">
			{
				tags.map((tag) => {
					return tag in TAGS ? (
						<Badge tag={TAGS[tag as keyof typeof TAGS]} />
					) : (
						<div class="flex gap-1 badge badge-outline">{tag}</div>
					);
				})
			}
		</div>
		{
			typeof stargazers === "number" ? (
				<div class="shadow-inner flex justify-between items-center p-2 rounded-lg mt-4">
					<Icon
						name="mdi:star"
						height="26"
						width="26"
					/>
					<div class="stat-value">{stargazers}</div>
				</div>
			) : null
		}
	</div>
</li>
